
// Job paramaters to set for this environment

params {
	max_cpus = 4
	max_ram = 32
}

// Resource manager settings

executor {
  queueSize=50
}

// Process setting

process {
  
  executor = 'slurm'
  queue = 'all'
  clusterOptions = '-C fast'
  
    withName: classify {
        cpus = 16
        memory = 120.GB
    }

}

singularity {
  enabled = false
  runOptions = "-B /work_ifs -B /scratch"
  cacheDir = "/work_ifs/ikmb_repository/singularity_cache"
}

